<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reviews</title>
    </head>
    <body>
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
                {{ form.user_name.label_tag }}
                {{ form.user_name }}
                {{ form.user_name.errors }}
            </div>
            <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
                {{ form.review_text.label_tag }}
                {{ form.review_text }}
                {{ form.review_text.errors }}
            </div>
            <div class="form-control {% if form.rating.errors %}errors{% endif %}">
                {{ form.rating.label_tag }}
                {{ form.rating }}
                {{ form.rating.errors }}
            </div>
            <button>Send</button>
        </form>
    </body>
</html>